@model IEnumerable<User>
@foreach (var o in Model)
{
    <tr id='user@(o.ID)' data-val="@o.ID" class="awe-li">
        <td>
            @o.Username
        </td>
        <td>@(string.Join(",", o.SecurityRoles.Select(r => r.Name)))
        </td>
        <td>
            <button class="awe-btn" onclick="@(Url.Awe().PopupFormAction().Url(Url.Action("Edit", "User", new { o.ID })).Success("edit").Height(300))">
                <span class="ico-edit"></span>

            </button>
        </td>
        <td>
            <button class="awe-btn" onclick="@(Url.Awe().PopupFormAction().Url(Url.Action("ChangePassword", "User", new { o.ID })).Success("passchanged").Height(250))">
                password
			</button>            
        </td>
        <td>
            @Html.Partial("deletebtn", new GuidDelBtn{ ID = o.ID, IsDeleted = o.IsDeleted, Controller = "User" })
        </td>
    </tr>
}
