@model iOps.Core.Model.Flight

<script>
    // Ajax enable row Delete Buttons
    $(".Ajaxify").each(function (intIndex) {
        $(this).bind("click", function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("href"),
                type: "GET",
                contentType: 'text/html',
                success: function (data) {
                    $('#FlightAdminData').html(data);
                }
            });
        });
    });

    $('#btnSubmit').click(function (event) {
        event.preventDefault();
        $('#btnSubmit').prop("disabled", true);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Flights", new { area = "Flights" })',
            data: $(this).closest("form").serialize(),
            dataType: "html",
            success: function (data) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Index", "Flights", new { area = "Flights" })',
                    contentType: 'text/html',
                    success: function (data) {
                        $('#btnSubmit').prop("disabled", false);
                        $('#FlightAdminData').html(data);
                    },
                    error: function (a, b, c) {
                        $('#btnSubmit').prop("disabled", false);

                    }
                });
            },
            error: function (a, b, c) {
                $('#btnSubmit').prop("disabled", false);

            }
        });
    });

    $(document).ready(function () {
        // Add Flight Tooltip
        $('.hasTooltip').kendoTooltip({
            position: "center",
            'text-indent': '-1000em',
            width: 120,
            position: 'top',
            beforeShow: function (e) {
                if (!$('#showTooltips').is(":checked")) {
                    e.preventDefault();
                }
            },
            show: function () {
                this.refresh();
            }
        });
    });

    // customize the _show method to call options.beforeShow 
    // to allow preventing the tooltip from being shown..
    kendo.ui.Tooltip.fn._show = function (show) {
        return function (target) {
            var e = {
                sender: this,
                target: target,
                preventDefault: function () {
                    this.isDefaultPrevented = true;
                }
            };

            if (typeof this.options.beforeShow === "function") {
                this.options.beforeShow.call(this, e);
            }
            if (!e.isDefaultPrevented) {
                // only show the tooltip if preventDefault() wasn't called..
                show.call(this, target);
            }
        };
    }(kendo.ui.Tooltip.fn._show);



</script>
<br />
<p>
    <h3>Are you sure you want to delete flight: @Html.DisplayFor(model => model.FlightNumber)?</h3>
</p>
<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AircraftType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AircraftType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AircraftSubType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AircraftSubType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Airline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalAirport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalAirport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureAirport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureAirport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnBoardActualTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnBoardActualTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnBoardScheduledTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnBoardScheduledTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnBoardEstimatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnBoardEstimatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnBoardTouchDownTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnBoardTouchDownTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassengerGate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassengerGate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BridgeUpdateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeUpdateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoorPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoorPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AC_Door_AVG_HT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AC_Door_AVG_HT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AC_DRIVE_COL_HT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AC_DRIVE_COL_HT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RTUOnIndicator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RTUOnIndicator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RTURemoteCntrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RTURemoteCntrl)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="Navigation-Buttons">
            <p>
                <input type="button" class="BackToList Ajaxify hasTooltip" value="Back to List" title="Go back to the flight list" href='@Url.Action("Index", "Flights", new { area = "Flights" })' />&nbsp;&nbsp;
                <input type="button" class="FlightEditButton Ajaxify hasTooltip" value="Edit Flight" title="Edit the current flight" href='@Url.Action("Edit", "Flights", new { area = "Flights", id = Model.Id })' />&nbsp;&nbsp;
                <input type="button" class="FlightDetailsButton Ajaxify hasTooltip" value="Flight Details" title="Go to the current flight details" href='@Url.Action("Details", "Flights", new { area = "Flights", id = Model.Id })' />&nbsp;&nbsp;
                <button id="btnSubmit" class="FlightDeleteButton hasTooltip" title="Delete the current flight" onclick="return false;">Delete Flight</button>
            </p>
        </div>
    }

</div>

